### Python ###
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

### Datos y Logs ###
# data/*.csv
*.log

### Editores ###
.vscode/
.idea/
.DS_Store